/* Core Variables */
:root {

  /* Init FT Color Scheme */
  --ftblack: #111;
  --ftdark: #333;
  --ftgrey: #ccc;
  --ftlight: #dedede;
  --ftwhite: #fff;
  --ftblue: #2a71ff;
  --ftorange: #ff5500;

  /* App Icons */
  --css-badge-color: #3595cf;

  /* Override Bootstrap Vars */
  --bs-body-bg: var(--ftblack);
  --bs-nav-link-color: var(--ftwhite);
  --bs-dropdown-link-disabled-color: var(--ftwhite);
  --bs-dropdown-link-disabled-color: var(--ftgrey);
}

/* Nav Bar */
nav {
  border-bottom: 1px solid var(--ftblue);
}

.nav-link {
  color: var(--ftwhite);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--ftblue);
}

/* Nav Bar > Dropdown Menus */
.dropdown-menu.show {
  border: 1px solid var(--ftblue);
}

.dropdown-item {
  color: var(--ftwhite);
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--ftwhite);
  background-color: var(--ftdark);
}

/* Black background override */
.bg-ftblack {
  background-color: var(--ftblack);
}

/* App Gallery Cards */
.card {
  height: 100%;
}

.card img {
  max-width: 100%;
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.card img:hover,
.card img:focus {
  opacity: 0.6;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

/* App Tech Icon Badges */
.ft-css-badge {
  color: var(--css-badge-color);
}

/* Footer */
footer {
  border-top: 1px solid var(--ftorange);
}
