// global FormulaDiscord css rules used by all themes

// include project-level variables
@import 'vars-project.scss';

// channel group names in left sidebar
.name__590d6 {
  font-weight: 900;

  // gradient lines next to channel group names
  &:before,
  &:after {
    //background: none;
    height: 1px;
    opacity: 0.35;
  }
}

// collapsed channel group names
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483.collapsed__8fe3c .name__590d6 {
  color: var(--channel-color);
}

// gradient lines next to roles/online/offline groups in right sidebar
.members__9f47b .membersGroup__85843:before,
.members__9f47b .membersGroup__85843:after {
  background: none;
}

// position the mobile phone icon in the member list
#app-mount .wrapper_edb6e0 foreignObject[mask*=mobile]:after {
  opacity: .9;
  top: 52%;
  left: 33px;
  right: 0;
}

// glow effect when typing
.channelTextArea__56a36:focus-within {
  box-shadow: 0 0 16px 0px var(--main-color);
}

// window title bar text
.typeWindows__5fa63 {
  .wordmark__0d178 > svg {
    display: none;
  }
  > .wordmark__0d178::before {
    content: "FormulaDiscord";
    text-shadow: 0 3px 10px var(--main-color);
  }
  >.wordmark__0d178:after {
    content: "#{$version}";
  }
}
.theme-dark .container_ca50b9:before {
  content: "FormulaDiscord";
}
.theme-dark .container_ca50b9:after {
  content: "v#{$version}";
}
// change the "ClearVision" text to say FormulaDiscord

// make the scroll bar glow, primary color + shadow?

// input field glows when active
