// global FormulaDiscord css rules used by all themes

// include project-level variables
@import 'vars-project.scss';

//// left sidebar ////
// channel group names in left sidebar
.name__590d6 {
  font-weight: 900;

  // gradient lines next to channel group names
  &:before,
  &:after {
    //background: none;
    height: 1px;
    opacity: 0.35;
  }
}

// collapsed channel group names
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483.collapsed__8fe3c .name__590d6 {
  color: var(--channel-color);
}

// guild separator (line between home icon and servers)
.guildSeparator_dcb3cc {
  box-shadow: 0 0 10px var(--main-color);
  background-color: var(--main-color);
  height: 2px;
}

//// channel list ////
// event separator (line between the channels and events button
.sectionDivider__68d2a {
  display: none;
}

//// central chat box ////
// spoiler tags
.spoilerContent__37bfa {
  box-shadow: 0 0 16px 0px var(--main-color);
}

// glow effect when typing
.channelTextArea__56a36:focus-within {
  box-shadow: 0 0 16px 0px var(--main-color);
}

//// right sidebar ////
// radial status glow effect
.wrapper_edb6e0[aria-label*=Online i],
.avatarWrapper[data-status=online] .wrapper_edb6e0 {
  box-shadow: 0 0 10px var(--rs-online-color);
}
.wrapper_edb6e0[aria-label*=Idle i],
.avatarWrapper[data-status=idle] .wrapper_edb6e0 {
  box-shadow: 0 0 5px var(--rs-idle-color);
}
.wrapper_edb6e0[aria-label*="Do Not disturb" i],
.avatarWrapper[data-status=dnd] .wrapper_edb6e0 {
  box-shadow: 0 0 10px var(--rs-dnd-color);
}
.wrapper_edb6e0[aria-label*=Streaming i],
.avatarWrapper[data-status=streaming] .wrapper_edb6e0 {
  box-shadow: 0 0 10px var(--rs-streaming-color);
}
.wrapper_edb6e0[aria-label*=Invisible i],
.avatarWrapper[data-status=invisible] .wrapper_edb6e0 {
  box-shadow: 0 0 5px var(--rs-invisible-color);
}
.wrapper_edb6e0[aria-label*=Offline i],
.avatarWrapper[data-status=offline] .wrapper_edb6e0 {
  box-shadow: 0 0 5px var(--rs-offline-color);
}

// position the mobile phone icon in the member list
#app-mount .wrapper_edb6e0 foreignObject[mask*=mobile]:after {
  opacity: .9;
  top: 48%;
  left: 33px;
  right: 0;
}

// member groups
.members__9f47b .membersGroup__85843 {
  text-shadow: 0 0 10px var(--main-color);

  // gradient lines next to roles/online/offline groups
  &:before,
  &:after {
    background: none;
  }
}

//// header/title bar ////
// window title bar text
.typeWindows__5fa63 {
  .wordmark__0d178 > svg {
    display: none;
  }
  > .wordmark__0d178::before {
    content: "FormulaDiscord";
    text-shadow: 0 3px 10px var(--main-color);
  }
  >.wordmark__0d178:after {
    content: "#{$version}";
  }
}

//// footer ////
// version info in footer
.theme-dark .container_ca50b9:before {
  //content: "FormulaDiscord";
  content: "";
}
.theme-dark .container_ca50b9:after {
  //content: "v#{$version}";
  content: "";
}
