@use 'sass:math';
$cacheBreaker: math.random();
$author: "FormulaTroy";
$version: "1.0.3";
$source: "https://github.com/FormulaTroy/FormulaTroy.com/tree/main/theme/discord";
$website: "https://formulatroy.com";
