// include project-level variables
@import 'scss-inc/vars-project.scss';

// include base theme imports
@import 'scss-inc/css-extends.scss';

// include base theme variables
@import 'scss-inc/vars-base.scss';

// include global FormulaDiscord variables
@import 'scss-inc/vars-formuladiscord.scss';

// include global FormulaDiscord css rules
@import 'scss-inc/rules-formuladiscord.scss';

// define theme-specific variables
:root {
  --main-color: #2a71ff;
  --main-color: pink;
  --main-color: green;
  --background-image: url("https://formulatroy.com/img/discord/DiscordBackgroundsBase.png?cache=#{$cacheBreaker}");
}

// define theme-specific css rules
// member list sidebar glow effect
.container_b2ce9c {
  -webkit-box-shadow: -2px 16px 52px 0px var(--main-color);
  -moz-box-shadow: -2px 16px 52px 0px var(--main-color);
  box-shadow: -2px 16px 52px 0px var(--main-color);
}
