// Responsive Grid System
.col-33 {
	padding:16px 0;
}

.col-50 {
	padding:16px 0;
}



@media (min-width: 650px) {
	.col-33 {
		float:left;
		width:30%;
	}

	.col-33:nth-of-type(2) {
		padding:16px 5%;
	}

	.col-50 {
		float:left;
		width:45%;
		padding:16px 2.5%;
	}
}